@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 768px) and (max-width: 1024px) {
  /* iPad Mini */
  .testimonies-container {
    display: block !important;
  }
}

@media (min-width: 1024px) and (max-width: 1366px) {
  /* iPad Pro */
  .testimonies-container {
    display: block !important;
  }
}

@media (min-width: 540px) and (max-width: 720px) {
  /* Surface Duo */
  .testimonies-container {
    display: block !important;
  }
}